USE [master]
GO
/****** Object:  Database [Encuesta]    Script Date: 03/02/2023 09:28:26 p. m. ******/
CREATE DATABASE [Encuesta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Encuesta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Encuesta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Encuesta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Encuesta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Encuesta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Encuesta]
GO
/****** Object:  Table [dbo].[TbCuestionario]    Script Date: 03/02/2023 09:28:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCuestionario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[preguntauno] [varchar](max) NOT NULL,
	[preguntados] [varchar](max) NOT NULL,
	[preguntatres] [varchar](max) NOT NULL,
	[preguntacuatro] [varchar](max) NOT NULL,
	[preguntacinco] [varchar](max) NOT NULL,
	[preguntaseis] [varchar](max) NOT NULL,
	[preguntasiete] [varchar](max) NOT NULL,
	[preguntaocho] [varchar](max) NOT NULL,
	[preguntanueve] [varchar](max) NOT NULL,
	[preguntadiez] [varchar](max) NOT NULL,
 CONSTRAINT [PK_TbCuestionario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
